.add-property {
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  background-color: black;
  align-items: center;
  justify-content: space-around;
  margin-top: 200px;
}

.add-property label {
  margin: 10px;
  padding: 10px;
  background-color: purple;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: baseline;
}
