.nav-container {
  background-color: black;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  margin: auto;
  background-color: green;
  width: 500px;
  height: 50%;
  /* align-items: center; */
}
.navbar-links-item {
  display: flex;
  flex-direction: row;
  color: green;
  justify-content: space-around;
  margin: 0;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
